<?xml
	version="1.0"
	encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="UpdateInterval" value="60000" />
		<add key="UpdateIntervalTick" value="6000" />
		<add key="Symbols" value="AAPL TSLA" />
		<add key="FolderForSaving" value="c:\MarketData\" />
		<add key="AmountOfDays" value="2000" />
		<add key="StreamWriterSavingInterval" value="100000" />
	</appSettings>
</configuration>